@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: Raleway;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #222;
  height: 100%;
  margin: 0;
}
.rounded-border {
  border-radius: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.grid-container {
  display: grid;
  grid-template-columns: 600px 650px;
  grid-auto-rows: minmax(150px, auto);
  /* grid-gap: 20px; */
  grid-template-areas:
    "header header"
    "skills education"
    "experience experience"
    "certification language";
  justify-content: center;
  align-content: center;
  /* height: 100vh; */
}
.background-color {
  background-color: rgba(238, 237, 234, 0.62);
}
.grid-item-1 {
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: center;
  grid-template-areas:
    "profile initials"
    "about about";
}
.section-about-me {
  grid-area: about;
  font-size: 16px;
  text-align: justify;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.grid-item-1 {
  grid-area: header;
}
.grid-item-2 {
  grid-area: skills;
}
.grid-item-3 {
  grid-area: education;
}
.grid-item-4 {
  grid-area: certification;
}
.grid-item-5 {
  grid-area: experience;
}
.grid-item-6 {
  grid-area: language;
}
.grid-container {
  position: relative;
  padding: 20px;
  width: 100%;
}

.grid-item {
  position: relative;
  font-size: 25px;
  padding: 20px;
  padding-top: 20px;
}
.applicant-name {
  font-size: 24px;
  font-weight: bolder;
}
.applicant-designation {
  text-decoration: none;
  font-size: 20px;
  color: rgb(7, 7, 77);
}
.applicant-address,
.applicant-email,
.applicant-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: rgb(116, 114, 114);
  font-family: arial;
}
.grid-item-2-section-1 {
  display: inline-block;
  /* flex-direction: column; */
  line-height: 0.9em;
}
.margin-top-bottom {
  margin: 5px 0;
  background-color: rgb(238, 185, 242);
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
}
.display-flex {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.eduction-section-1 {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.eduction-section-2 {
  font-size: 15px;
  padding-left: 1.6em;
}
.job-section-2 {
  font-size: 15px;
}
.job-section-3 {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.eduction-section-3 {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-left: 1.6em;
}
.bottom-border-dotted {
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
}
.languages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
ul {
  text-decoration: none;
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}
li {
  font-size: 14px;
  margin-bottom: 4px;
}
li::before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: rgb(7, 7, 77); /* Or a color you prefer */
}
@media (max-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-auto-columns: minmax(300px, auto);
    /* grid-gap: 20px; */
    grid-template-areas:
      "header header"
      "skills skills"
      "education education"
      "experience experience"
      "certification certification"
      "language language";

    justify-content: center;
    align-content: center;
    /* height: 100vh; */
  }
  .grid-item-1 {
    grid-area: header;
  }
  .grid-item-2 {
    grid-area: skills;
  }
  .grid-item-3 {
    grid-area: education;
  }
  .grid-item-4 {
    grid-area: certification;
  }
  .grid-item-5 {
    grid-area: experience;
  }
  .grid-item-6 {
    grid-area: language;
  }
  .grid-item-1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-template-areas:
      "profile profile"
      "initials initials"
      "about about";
  }
  .initial-information-profile {
    grid-area: profile;
  }
  .initial-information {
    grid-area: initials;
  }
  .padding-x {
    padding-right: 10px;
  }
  .section-about-me {
    grid-area: about;
    font-family: Arial;
    font-size: 14px;
    margin-top: 2px;
  }
  .eduction-section-1 {
    display: flex;
    flex-direction: row;
  }
}
